{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
     "mutators": {
         "@default": true,
         "ArrayItemRemoval": {
             "ignore": [
                 "WyriHaximus\\CssCompress\\Factory::construct",
                 "WyriHaximus\\CssCompress\\Factory::constructSmallest"
             ]
         },
         "CastString": {
             "ignore": [
                 "WyriHaximus\\CssCompress\\Compressor\\CssMinifierCompressor::compress"
             ]
         },
         "Identical": {
             "ignore": [
                 "WyriHaximus\\CssCompress\\Compressor\\CssMinCompressor::compress"
             ]
         },
         "LogicalAnd": {
             "ignore": [
                 "WyriHaximus\\CssCompress\\Compressor\\CssMinCompressor::compress"
             ]
         },
         "TrueValue": {
             "ignore": [
                 "WyriHaximus\\CssCompress\\Factory::constructSmallest"
             ]
         }
     }
}